*{
    margin: 0px;
    padding: 0px;
  }
  .card1{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
 .product p{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 6vw;
  text-decoration-line: underline;
 }